<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Курс по HTML и CSS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">KidsCode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left: auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Отзывы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Проекты наших учеников</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CourseList">Курсы</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Личный кабинет</a>
            </li>
        </ul>
    </div>
</nav>

<main class="flex-grow-1">
    <div class="container">
        <h2 class="text-center mb-4" th:text="${course.getName()}"></h2>
    </div>
    <hr>

    <div class="card mb-4">
        <div class="card-header">
            <h2>Тема 1: Синтаксис Python и первая программа</h2>
        </div>
        <div class="card-body">
            <h4>Синтаксис Python</h4>
            <p>Синтаксис Python — это набор правил и соглашений, которые определяют, как должен быть написан код Python, чтобы он правильно интерпретировался интерпретатором Python. Он определяет структуру и форматирование программ Python.
                Код Python записывается в виде последовательности операторов. Каждый оператор представляет собой действие или команду. Например, присвоение значения переменной, вызов функции или определение цикла — все это примеры операторов.
                Кроме того, Python использует отступы для определения блоков кода. В отличие от других языков программирования, которые используют фигурные скобки или ключевые слова, Python использует отступы для обозначения начала и конца блоков кода. Обычно для отступов используются четыре пробела или табуляция.</p>

            <br>
            <h4>Первая программа</h4>
            <p>Программа «Привет, мир!» — это распространённая отправная точка для новичков в любом языке программирования. Она просто выводит на экран текст «Привет, мир!». В Python это можно сделать с помощью всего одной строки кода.</p>
            <div class="bg-secondary p-3"><code style="color: white">print("Привет, Мир!")</code></div>
            <br>

        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2>Тема 2: Переменные Python</h2>
        </div>
        <div class="card-body">
            <p>Если нам нужно что-то сохранить в реальной жизни, нам нужен контейнер или коробка для хранения. Переменные — это не что иное, как простые контейнеры для хранения данных разных типов, таких как числа, строки, логические значения, символы, списки, кортежи, диапазоны и т. д.</p>
            <div class="bg-secondary p-3"><code style="color: white">
                # Допустим, у вас есть коробка для хранения вещей.
                <br>
                # Вы можете дать коробке имя, например "my_box".
                <br>
                # Здесь "my_box" - это переменная.
                <br>
                my_box = "toys"
                <br>
                print(my_box) # Вывод: игрушки
                <br>
                # Переменные также могут хранить различные типы данных.
                <br>
                # Например, вы можете хранить числа в переменной.
                <br>
                my_number = 10
                <br>
                print(my_number)  # Вывод: 10
                <br>
                # Вы также можете комбинировать переменные вместе.
                <br>
                my_message = "Привет, " + "Мир!"
                <br>
                print(my_message) # Вывод: Привет, мир!
            </code></div>
            <br>
            <h3>Правила для переменных Python:</h3>
            <p>Вот некоторые из упомянутых правил, которые необходимо учитывать при выборе имени для переменной Python:</p>
            <div class="bg-info p-2">
                <p style="color: white">
                    - Имя переменной в Python должно начинаться с буквы или символа подчеркивания.<br>
                    - Имя переменной Python не может начинаться с числа.<br>
                    - Имя переменной в Python может содержать только буквенно-цифровые символы и подчёркивания (A-z, 0-9 и _).<br>
                    - Имена переменных в Python чувствительны к регистру (name, Name и NAME — это три разные переменные).<br>
                    - Зарезервированные слова (ключевые слова) в Python нельзя использовать в качестве имён переменных в Python.
                </p>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2>Тема 3: Типы данных Python</h2>
        </div>
        <div class="card-body">
            <p>Типы данных в Python похожи на разные виды коробок, в которых можно хранить разные вещи. Если у вас есть разные виды игрушек или книг, то в Python есть разные типы данных, с которыми он может работать.</p>
            <br>
            <h5>1. Целое число (int):</h5>
            <p>Целое число представляет собой целые числа без десятичных знаков. Оно похоже на целое печенье и представляет собой полное число без частей или дробе</p>
            <div class="bg-info p-2">
                <p style="color:white;">Например, когда кто-то спрашивает нас о возрасте, мы обычно называем число без десятичных знаков, например, 18, 21, 11 и т. д.</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                age = 10<br>
                print(age) #Вывод 10
            </code></div>
            <br>

            <h5>2. Число с плавающей точкой (float):</h5>
            <p>Число с плавающей точкой представляет собой числа с десятичными знаками. Это как печенье, в котором не хватает нескольких кусочков. Оно представляет собой число с десятичной или дробной частью. Его можно использовать для представления измерений.</p>
            <div class="bg-info p-2">
                <p style="color:white;">Например, нам нужно измерить высоту, поэтому измерение должно быть кратким и точным, оно включает в себя число + дробную часть, например, 5,5, 6,7, 7 и т. д.</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                height = 5.5 <br>
                print(height) #Вывод 5.5
            </code></div>
            <br>

            <h5>3. Строка (str):</h5>
            <p>Строка представляет собой последовательность символов или букв. Она может использоваться для хранения текстовой информации. Строка похожа на набор букв, слов или предложений.</p>
            <div class="bg-info p-2">
                <p style="color:white;">Например, имя человека может храниться в виде строки.</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                name = "Игорь" <br>
                print(name) #Вывод Игорь
            </code></div>
            <br>

            <h5>4. Логическое значение (bool):</h5>
            <p>Булево значение представляет собой два возможных варианта: «истина» или «ложь». Оно может принимать только значения «истина» или «ложь». Булево значение похоже на переключатель, который может быть включён или выключен. Оно представляет собой значение «истина» или «ложь», как ответ «да» или «нет» на вопрос.</p>
            <div class="bg-info p-2">
                <p style="color:white;">Например, является ли Москва столицей Росии или нет? Таким образом, возможный ответ на этот тип вопроса — «да» или «нет», но в компьютерах мы используем понятия «истина» (Ture) и «ложь» (False).</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                is_Moscow_Capital_of_Russia = True #Является ли Москва столицей Росии <br>
                print(is_Moscow_Capital_of_Russia) #Вывод Ture(То есть истина, или правда)
            </code></div>
            <br>

            <h5>5. Список (List):</h5>
            <p>Список — это упорядоченная коллекция элементов. Его можно использовать для хранения нескольких значений разных типов данных. Список похож на корзину с товарами. Он может содержать разные элементы, например числа, слова или даже другие списки.</p>
            <div class="bg-info p-2">
                <p style="color:white;">Пример 1: Список покупок может содержать элементы разных типов, например строки, числа или логические значения.</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                fruits = ["Яблоко", "Банан", "Апельсин"] <br>
                print(fruits) #Вывод ['Яблоко', 'Банан', 'Апельсин']
            </code></div>
            <br>
            <h5>Давайте разберемся с типом данных List на еще одном примере:</h5>
            <div class="bg-info p-2">
                <p style="color:white;">Пример 2: представьте, что у вас есть список ваших любимых цветов. Вы можете записать их один за другим.</p>
            </div>
            <br>
            <div class="bg-secondary p-3"><code style="color: white">
                colors = ["Зелёный", "Чёрный", "Желтый"] <br>
                print(colors) #Вывод ["Зелёный", "Чёрный", "Желтый"]
            </code></div>
            <br>
            <p>Вы можете легко добавлять или удалять цвета из своего списка в любое время. Списки похожи на коллекции элементов, которые вы можете легко изменять или обновлять, как и свой список любимых цветов.</p>

        </div>
    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>