<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет преподавателя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">KidsCode</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left: auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Отзывы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Проекты наших учеников</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CourseList">Курсы</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Личный кабинет</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="d-flex align-items-center mb-4">
        <img th:src="@{/images/anonim.png}" alt="Фото пользователя" class="rounded-circle" width="50" height="50">
        <h3 class="ml-3 mb-0" th:text="${user.getFio()}"></h3>
        <form th:action="@{/logout}" style="margin-left: auto" method="post">
            <button class="btn btn-danger" type="submit">Выйти</button>
        </form>
    </div>

<!--    <div class="row mt-4">-->
<!--        <div class="col-md-12">-->
<!--            <div class="card">-->
<!--                <div class="card-header">-->
<!--                    Домашние задания-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table table-bordered">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Ученик</th>-->
<!--                                <th>Предмет</th>-->
<!--                                <th>Задание</th>-->
<!--                                <th>Статус</th>-->
<!--                                <th>Срок сдачи</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <td>Иван Иванов</td>-->
<!--                                <td>Математика</td>-->
<!--                                <td>Решить уравнение №5</td>-->
<!--                                <td>Выполнено</td>-->
<!--                                <td>15.10.2023</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>Петр Петров</td>-->
<!--                                <td>Физика</td>-->
<!--                                <td>Выполнить лабораторную работу</td>-->
<!--                                <td>Не выполнено</td>-->
<!--                                <td>20.10.2023</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div id="personal-data" class="mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Личные данные</h2>
                <div class="d-flex"><strong>ФИО: </strong> <p th:text=" ${user.getFio()}" style="margin-left: 10px"></p></div>
                <div class="d-flex"><strong>Email: </strong> <p th:text=" ${user.getUsername()}" style="margin-left: 10px"></p></div>
                <div th:if="${user.getPhone()!=null}" class="d-flex"><strong>Телефон: </strong> <p th:text=" ${user.getPhone()}" style="margin-left: 10px"></p>
                </div>
                <button class="btn btn-primary">Редактировать</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Курсы
                </div>
                <div class="card-body">
                    <div class="row">
                        <div th:each="var : ${courses}" class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title" th:text="${var.getName()}"></h4>
                                    <h6 class="card-title" th:text="${var.getDescription()}"></h6>
                                    <form th:action="@{/Course}" th:object="${var}" method="post">
                                        <input name="id" type="hidden" th:value="${var.getId()}"/>
                                        <input name="name" type="hidden" th:value="${var.getName()}"/>
                                        <input name="price" type="hidden" th:value="${var.getPrice()}"/>
                                        <input name="price" type="hidden" th:value="${var.getPrice()}"/>
                                        <input name="description" type="hidden" th:value="${var.getDescription()}"/>
                                        <input name="teacher" type="hidden" th:value="${var.getTeacher().getId()}"/>
                                        <button type="submit" class="btn btn-primary">Перейти</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#addModal">Создать курс</button>
                </div>
            </div>
        </div>
    </div>

    <div id="messages" class="mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Чаты</h2>
                <p>Тут будут чаты с учениками и родителями</p>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Создание курса</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/Profile/addCourse}" th:object="${course}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="lastName">Название</label>
                        <input type="text" class="form-control" name="lastName" id="lastName"
                               th:field="*{name}" placeholder="Введите название курса">
                    </div>

                    <div class="form-group">
                        <label for="firstName">Цена</label>
                        <input type="number" step="0.01" class="form-control" id="firstName" th:field="*{price}" placeholder="Введите цену курса">
                    </div>

                    <div class="form-group">
                        <label for="middleName">Описание</label>
                        <textarea type="text" class="form-control" id="middleName" th:field="*{description}" placeholder="Введите описание курса"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary" type="submit">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/6e5d380cb8.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</body>
</html>